{% if section.settings.show_announcement %}
  <div class="announcement-bar">
    <div class="page-width">{{ section.settings.text | escape }}</div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show bar",
      "default": true
    },
    {
      "type": "text",
      "id": "text",
      "label": "Message",
      "default": "Free shipping on orders over $75"
    }
  ]
}
{% endschema %}
